[submodule "libs/smolcert-esp32"]
	path = libs/smolcert-esp32
	url = https://github.com/smolcert/smolcert-esp32
[submodule "libs/Unity"]
	path = libs/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "libs/tinycbor"]
	path = libs/tinycbor
	url = https://github.com/intel/tinycbor
[submodule "libs/noise-c"]
	path = libs/noise-c
	url = https://github.com/rweather/noise-c
	ignore = untracked
